.cont_header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: 1; */
    position: relative;
}

#container{
    max-width: 1098px;
    margin-left: auto;
    margin-right: auto;
}


.nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 35px;
  /* z-index: 1; */
}

.logo{
    display: flex;
    align-items: center;
    column-gap:  0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.logo:hover{
   color:  rgba(255, 0, 0, 0.753);
}

.navbar{
    display: flex;
}

.navbar a{
    padding: 8px 17px;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}

.navbar button{
    padding: 8px  17px;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 20px;
}

.navbar a:hover{
    color: rgb(255, 0, 0);
}

.btn{
    padding: 8px 22px;
    background-color: rgba(255, 0, 0, 0.829);
    color: #fff;
    border-radius: 5rem;
    border: none;

}


.user{
    border: 2px solid #2196f3;
    border-radius: 15px;
   /* border-bottom: 2px solid #fff; */
}

.btn:hover{
    background-color:  rgb(255, 60, 0);
}
